<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
        <link rel="apple-touch-icon" href="/bot_logo_rounded.png">
        <link rel="icon" href="/bot_logo_rounded.png">
        <link href="index.css" rel="stylesheet"/>
        <script src="https://kit.fontawesome.com/333efb0c4e.js" crossorigin="anonymous"></script>
        <title>Hockeystats Bot | Command List</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg  hsbnav">
            <a href="/" class="navbar-brand"><img class="logo" src="/Hockey_Bot_Logo_lower.jpg"/></a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbaritems" aria-controls="navbaritems" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>  
            <div class="collapse navbar-collapse" id="navbaritems">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0"> 
                    <li class="nav-item">
                        <a href="/" class="nav-link hsbnavlink" style="margin-right: 50px; font-weight: 600;">HockeyStats Bot</a>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="nav-link hsbnavlink">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/invite" class="nav-link hsbnavlink">Invite</a>
                    </li>
                    <li class="nav-item">
                        <a href="/commands" class="nav-link hsbnavlink active">Commands</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-md" id="commandList">
            <div class="jumbotron hsbheadline">
                <p>This a list of all currently available commands, what the do, and how to use them. This information can also be viewed in the Slash Commands menu in discord.</p>
                <br />
                <p>If you have an idea for a command that is not listed here, submit a suggestion in the suggestion forum in our new HockeyStats Bot Discord Server!</p>
            </div>
            <hr class="hsbrule" style="height: 5px; border: none;"/>
        </div>
        <footer>
            <hr class="hsbrule"/>
            <div class="container-md" style="margin-bottom: 1.5em;">
                <div class="jumbotron hsbheadline" style="background-color: #212225;">
                    <div class="row justify-content-evenly" style="padding-top: 1em; margin-bottom: 1.5em;">
                        <div class="col-sm-4">
                            <h4 class="">
                                The best way to reach us is to join our Discord server.
                                <br>
                            </h4>
                        </div>
                        <div class="col-sm-4 text-center">
                            <a                         
                                href="https://discord.gg/fkVbVutRgt"
                                target="_blank"
                                rel="noreferrer"
                                >
                                <button class="btn btn-primary invitebtn">
                                     <i class="fab fa-discord"></i> 
                                     Join server 
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="row justify-content-center text-center">
                        <div class="col-lg-4" style="margin-bottom: 1.5em;">
                            <a href="mailto:hockeystatsbot@gmail.com?subject=HockeyStats%20Bot%20Inquiry" style="font-size: 20px;"><i class="fas fa-envelope contacticon" ></i> Reach out to us by email</a>
                        </div>
                        <div class="col-lg-4" style="margin-bottom: 1.5em;">
                            <a href="https://github.com/Special-Sharpie/HockeyStatsBot" style="font-size: 20px;"><i class="fab fa-github contacticon " ></i> Check us out on GitHub</a>
                        </div>
                        <div class="col-lg-4" style="margin-bottom: 1.5em;">
                            <a href="" style="font-size: 20px;"><i class="fab fa-paypal contacticon"></i> Support us by donating</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>

    <script>
        async function commands(){
            var getCommands = await fetch('/commanddesc.json')
            var commandsJson = await getCommands.json()
            for (command in commandsJson){
                $("#commandList").append(`<h2 class="commandheader">${command}</h2><div class="jumbotron hsbheadline"><p>${commandsJson[command][0]}</p><br/><p>${commandsJson[command][1]}</p></div>`)
            }
        }
        commands()
    </script>
</html>